.header {
	background-color: #2a2b2c;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2em;
	height: 30%;
	h1,
	h2 {
		margin-top: 0;
		margin-bottom: 0;
		color: white;
	}

	h1 {
		font-size: 4em;
	}
}

.main {
	padding: 1em;
	font-size: 13pt;

	table {
		border-collapse: collapse;
		width: 100%;
	}

	tr td:nth-child(2) {
		color: #333;
	}

	th,
	td {
		text-align: left;
		padding: 1em 1px 1em 1px;
	}
	tr:hover td {
		background: #fafafa;
	}
	td {
		border-bottom: 1px solid #dddddd;
		.author {
			color: #999;
		}
		.title {
			color: inherit;
			text-decoration: none;
		}
		.delete-button {
			cursor: pointer;
		}
	}
}
