<header class="header">
	<h1>HN Feed</h1>
	<h2>We <3 hacker news</h2>
</header>
<main class="main">
	<table>
		<tbody>
			<tr *ngFor="let item of listStory; trackBy: trackByItem">
				<td>
					<div>
						<a [href]="item.url" target="_blank" class="title">
							{{ item.title }}
						</a>
						<label class="author">{{ ' - ' + item.author }}</label>
					</div>
				</td>
				<td>
					{{ item.publishDate | customDate }}
				</td>
				<td>
					<div class="delete-button" (click)="deleteStory(item.id)">
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 24 24"
							fill="black"
							width="24px"
							height="24px"
						>
							<path d="M0 0h24v24H0V0z" fill="none" />
							<path
								d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4z"
							/>
						</svg>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</main>
